/* Containers */

.masterContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90vh;
    background-color: #ececec;
    border-radius: 40px;
}

.bo_subContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding-left: 50px;
    background-color: white;
    border-radius: 40px;
}

.bo_Container {
    margin: 40px 0;
}


/*Back office menu*/

.bo_menu {
    flex-direction: column;
    width: 20%;
    background-color: #ececec;
    border-radius: 40px 0 0 40px;
}

.bo_menu img {
    width: 40%;
    height: auto;
}

.bo_m_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 300ms;
}

.bo_menu a {
    color: black;
    text-align: center;
}

.bo_menu a:visited {
    color: black;
}

.bo_m_btn i {
    font-size: 3rem;
    margin: 0;
}

.bo_m_btn p {
    margin: 0;
}

.bo_m_btn a {
    color: black;
}

.bo_m_btn:hover,
.bo_m_btn a:hover {
    background-color: #dcdcdc;
    color: #481a71;
}

.bo_Container {
    overflow: auto;
}

.bo_titles {
    width: 300px;
    height: auto;
    text-align: left;
    margin: 10px 0;
}

.bo_titles h2 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.bo_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    margin-left: 5px;
    height: 30px;
}

.bo_options p {
    margin: 0;
    margin-right: 20px;
}

.bo_options i {
    margin-right: 5px;
}

.bo_options p:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

.bo_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #481a71;
    color: white;
}

.bo_log_off {
    margin-top: 50px;
}

.bo_fields {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.fieldSizing {
    width: 400px;
    height: 20px;
    padding: 10px;
    border: 1px dashed grey;
}

.bo_submit {
    display: flex;
    align-items: center;
}

.bo_date {
    margin-left: 20px;
    font-size: 0.8rem;
    color: grey;
}

.logout_Conf {
    background-color: #ff5252;
    border-radius: 10px;
    padding: 5px;
}

.logout_Conf p {
    color: white;
    margin: 8px;
}

.logout_confBtn {
    display: flex;
    justify-content: space-evenly;
}

.logout_confBtn p {
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    background-color: #dcdcdc;
    cursor: pointer;
    transition-duration: 300ms;
}

.conf_Yes:hover {
    background-color: #21e6c1;
}

.conf_No:hover {
    background-color: #b71c1c;
    color: white;
}


/*Back office Editor, Reader, Modif */

.bo_postManager {
    display: flex;
    flex-direction: column;
}

.bo_editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.bo_reader p,
.bo_trash p {
    margin: 5px;
}

.bo_reader h3,
.bo_trash h3 {
    text-decoration: underline;
    cursor: pointer;
}

.bo_postTitle {
    width: 10%;
    word-wrap: break-word;
}

.bo_postContent {
    word-wrap: break-word;
    width: 80%;
}

.bo_postInfosContainer {
    border-bottom: 1px dashed black;
}

.bo_postInfos {
    display: flex;
}

.bo_permDelete {
    display: flex;
}

.bo_permDelete p {
    margin-right: 20px;
}

.bo_postInfos p {
    margin-right: 20px
}

.bo_postOptions {
    display: flex;
    color: grey;
    cursor: pointer;
}

.bo_postOptions a {
    color: grey;
}

.bo_postOptions a:visited {
    color: grey;
}

.bo_postOptions i {
    width: 30px;
    text-align: center;
}

.bo_postOptions p:hover {
    text-decoration: underline;
}

.bo_comWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bo_comwrapperOpt {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 90%;
    border-bottom: 1px dashed grey;
    margin-bottom: 30px;
}

.bo_postflaged {
    display: flex;
    align-items: center;
    color: red;
    cursor: pointer;
}

.bo_postflaged a {
    color: red;
}

.bo_postflaged a:visited {
    color: red;
}

.bo_postflaged:hover {
    text-decoration: underline;
}

.bo_postflaged i {
    width: 30px;
}

.bo_comWrapper h3 {
    margin: 0;
}

.bo_postTitle,
.bo_postContent,
.bo_postInfos,
.bo_postflaged {
    margin-right: 20px;
}

.bo_postOptions p {
    margin-right: 20px;
}