/*General*/

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Times New Roman', Arial;
    font-size: 16px;
    color: #481a71;
}


/*Landing page*/

.leftSide {
    width: 50%;
    height: 100vh;
}

.rightSide {
    width: 50%;
    height: 100vh;
    background-image: url("../img/Pink_Alaska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*Left side*/

.login {
    position: absolute;
    font-size: 1.5rem;
    opacity: 0.5;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 20px 0 0 20px;
    transition: 0.3s;
}

.login:hover {
    opacity: 1;
}

.leftSide {
    flex-direction: column;
}

.leftSide .bigBtn {
    background-color: #481a71;
    color: white;
}


/* Right side*/

.rightSide {
    flex-direction: column;
}

.rightSide .infosContainer {
    color: white;
}

.rightSide .bigBtn {
    background-color: white;
    color: #481a71;
}

.landingPage {
    font-size: 1.3rem;
}

.landingPage h1 {
    font-weight: normal;
    margin: 0;
}

.infosContainer {
    width: 40%;
    height: 300px;
    flex-direction: column;
    text-align: center;
}

.bigBtn {
    margin: 0;
    padding: 5px 20px;
    border: none;
    border-radius: 30px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 300ms;
}

.landingPage .bigBtn:hover {
    transform: scale(1.3);
}


/*Front view*/

.Container {
    flex-direction: column;
}


/* Menu drop Down */

.dropbtn {
    font-size: 2rem;
    border: none;
}

.dropdown p {
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.dropdown-content a {
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Container and fixed items */

.Container {
    margin-bottom: 70px;
}

.fv_Close {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2rem;
}

.fv_Menu {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 2rem;
}


/* Book title */

.fv_head {
    margin: 10vh 0 2vh;
    width: 100%;
}

.fv_head h1 {
    font-size: 3rem;
    font-weight: normal;
}


/* Book Content */

.fv_Article {
    width: 100%;
}

.fv_articleContainer {
    width: 50%;
}

.fv_articleImg img {
    height: 200px;
    width: auto;
    margin-bottom: 20px;
}

.fv_Article h3 {
    font-size: 1.3rem;
}

.fv_articleContent {
    margin-bottom: 40px;
}


/* Book Navigation bar */

.fv_navBox {
    margin-top: 50px;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.fv_Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.fv_Circle {
    width: 80px;
    height: 80px;
    background-color: #481a71;
    border-radius: 80px;
}

.fv_Circle i {
    color: white;
    font-size: 3rem;
}

.fv_btnLeft,
.fv_btnCtr,
.fv_btnRight {
    flex-direction: column;
    z-index: 3;
    width: 160px;
}

.fv_btnCtr {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.fv_btnBar {
    position: absolute;
    height: 15px;
    width: 600px;
    background-color: #ececec;
    z-index: 1;
}

.fv_navTitles {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.fv_navTitle {
    width: 160px;
    font-style: italic;
}

.fv_navTitleEdges {
    font-size: 0.7rem;
}


/* Book comments inputs */

.fv_Comments {
    flex-direction: column;
}

.fv_comBtn {
    background-color: #481a71;
    width: 200px;
    height: 40px;
    padding: 0 20px;
    border-radius: 40px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    margin: 50px 0;
}

.fv_comArea {
    width: 100%;
    margin-bottom: 30px;
}

.fv_comArea form {
    width: 80%;
}

.fv_comArea input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid black;
    padding: 0;
}

.fv_comBtn2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

.fv_comBtn2 input {
    width: auto;
    padding: 0 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-right: 20px;
}

.fv_comCancel {
    cursor: pointer;
}


/* Book comments display */

.fv_comInfos {
    display: flex;
    flex-direction: row;
}

.fv_comInfos p {
    margin: 0 20px 0 0;
    font-style: italic;
    color: grey;
}

.fv_signal a {
    color: grey;
}

.fv_signal a:visited {
    color: grey;
}

.fv_signal a:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.fv_signalDone {
    color: red;
    font-weight: bold;
}

.fv_articleComments {
    flex-direction: column;
    border-bottom: 1px dashed grey;
}


/*login*/

.loadingPage {
    width: 100%;
    height: 100vh;
    font-family: Tahoma, Arial;
    background-image: url("../img/Pink_Alaska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mdpContainer {
    width: 300px;
    padding: 30px;
    height: auto;
    border-radius: 40px;
    background-color: white;
}

.titleContainer h1 {
    margin: 0 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: normal;
}

.mdpContainer img {
    width: 50px;
    height: auto;
}

.inputLines h2 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: normal;
}

.inputLines input {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.mdpContainer .bigBtn {
    margin: 0;
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: #481a71;
    color: white;
}

.loadingPage_error {
    color: red;
    text-align: center;
}

.retrun_btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
}


/*Back office*/


/* Containers */

.masterContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90vh;
    background-color: #ececec;
    border-radius: 40px;
}

.bo_subContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding-left: 50px;
    background-color: white;
    border-radius: 40px;
}

.bo_Container {
    margin: 0 0 40px;
    padding-right: 50px;
    overflow: auto;
}


/* Backoffice menu*/

.bo_menu,
.bo_menu_group {
    flex-direction: column;
    width: 20%;
    background-color: #ececec;
    border-radius: 40px 0 0 40px;
}

.bo_m_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 300ms;
}

.bo_m_btn_active {
    color: #481a71;
    background-color: #dcdcdc;
}

.bo_menu a {
    text-align: center;
}

.bo_menu img {
    width: 40%;
    height: auto;
}

.bo_m_btn i {
    width: auto;
    font-size: 3rem;
    margin: 0;
}

.bo_m_btn p {
    margin: 0;
}

.bo_m_btn:hover,
.bo_m_btn a:hover {
    background-color: #dcdcdc;
    color: #481a71;
}

.logout_Conf {
    width: 80%;
    background-color: #ff5252;
    border-radius: 10px;
    margin: 5px;
}

.logout_Conf p {
    color: white;
    margin: 8px;
}

.logout_confBtn {
    display: flex;
    justify-content: space-evenly;
}

.logout_confBtn p {
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    background-color: #dcdcdc;
    cursor: pointer;
    transition-duration: 300ms;
}

.conf_Yes:hover {
    background-color: #21e6c1;
}

.conf_No:hover {
    background-color: #b71c1c;
    color: white;
}


/* Backoffice title / Options / Alertes */

.bo_titles {
    text-align: left;
    margin: 10px 0;
}

.bo_titles h2 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.bo_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    height: 30px;
    margin-left: -6px;
}

.bo_options p {
    margin: 0;
    margin-right: 20px;
}

.bo_options p:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

.bo_alertArea {
    min-height: 30px;
}

.bo_permYes a:hover,
.bo_delete a:hover,
.bo_delete:hover,
.bo_permNo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bo_permYes a:hover,
.bo_delete:hover,
.bo_delete a:hover,
.bo_alert {
    color: red;
}

.bo_alert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bo_alert p {
    margin: 0;
}


/* Backoffice Editor */

.bo_editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.bo_editor_suggest {
    font-size: 0.8rem;
}

.bo_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #481a71;
    color: white;
}

.bo_fields {
    margin-bottom: 20px;
}

.bo_articleImg img {
    height: 100px;
    width: auto;
    border: 1px dashed grey;
    padding: 10px;
}

.fieldSizing {
    width: 400px;
    height: 20px;
    padding: 10px;
    border: 1px dashed grey;
}

.bo_submit {
    display: flex;
    align-items: center;
}

.bo_date {
    margin-left: 20px;
    font-size: 0.8rem;
    color: grey;
}


/* Backoffice Comments */

.bo_comWrapper {
    display: flex;
    flex-direction: column;
}

.bo_postInfosContainer {
    border-bottom: 1px dashed grey;
    margin-bottom: 30px;
}

.bo_postInfos {
    display: flex;
}

.bo_postflaged {
    display: flex;
    align-items: center;
    color: red;
    cursor: pointer;
}

.bo_postflaged a {
    color: red;
}

.bo_postflaged a:visited {
    color: red;
}

.bo_postflaged:hover {
    text-decoration: underline;
}

.bo_comWrapper h3 {
    margin: 0;
}

.bo_com_infos {
    font-size: 0.8rem;
    margin: 0;
}


/* Backoffice Bin */

.bo_permDelete {
    display: flex;
}

.bo_permDelete p {
    margin-right: 20px;
}

.bo_postInfos p {
    margin-right: 20px
}


/* backoffice options */

.bo_postOptions {
    display: flex;
    cursor: pointer;
}

.bo_postOptions p {
    margin-right: 20px;
}

.bo_postOptions p:hover {
    text-decoration: underline;
}


/* Bio */

.bioContainer {
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: white;
    padding: 20px;
}


/*Common*/

.dispFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-style: italic;
    color: red;
}

.errorContainer {
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: white;
}

.errorContainer p {
    font-size: 4rem;
}

i {
    width: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #481a71;
}

a:visited {
    color: #481a71;
}

input:focus {
    outline: none;
}

h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.dispNone {
    display: none;
}


/*Scroll bar*/

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: white;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}