/*General*/

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    font-family: 'Times New Roman', Arial;
    font-size: 16px;
    color: #481a71;
}


/*Landing page*/

.leftSide {
    width: 50%;
    height: 100vh;
}

.rightSide {
    width: 50%;
    height: 100vh;
    background-image: url("../img/Pink_Alaska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*Left side*/

.login {
    position: absolute;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0.5;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 20px 0 0 20px;
    transition: 0.3s;
}

.login:hover {
    opacity: 1;
}

.leftSide {
    flex-direction: column;
}

.leftSide .bigBtn {
    background-color: #481a71;
    color: white;
}


/* Right side*/

.rightSide {
    flex-direction: column;
}

.rightSide .infosContainer {
    color: white;
}

.rightSide .bigBtn {
    background-color: white;
    color: #481a71;
}


/*LP Common*/

.landingPage {
    font-size: 1.3rem;
}

.landingPage h1 {
    font-weight: normal;
    margin: 0;
}

.infosContainer {
    width: 40%;
    height: 300px;
    flex-direction: column;
    text-align: center;
}

.bigBtn {
    margin: 0;
    padding: 5px 0;
    width: 200px;
    border: none;
    border-radius: 30px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 300ms;
}

.landingPage .bigBtn:hover {
    transform: scale(1.3);
}


/*Loading page*/

.loadingPage {
    width: 100%;
    height: 100vh;
    font-family: Tahoma, Arial;
    background-image: url("../img/Pink_Alaska.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mdpContainer {
    width: 300px;
    padding: 30px;
    height: auto;
    border-radius: 40px;
    background-color: white;
}

.titleContainer h1 {
    margin: 0 10px 20px 10px;
    font-size: 1.5rem;
    font-weight: normal;
}

.mdpContainer img {
    width: 50px;
    height: auto;
}

.inputLines h2 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: normal;
}

.inputLines input {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.mdpContainer .bigBtn {
    margin: 10px;
    font-size: 1.5rem;
    background-color: #481a71;
    color: white;
}

.loadingPage_error {
    color: red;
    text-align: center;
}

.mdpForgotten p {
    margin: 0;
    font-size: 0.7rem;
}


/*Back office*/

.masterContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90vh;
    background-color: #ececec;
    border-radius: 40px;
}

.bo_Container {
    display: flex;
    justify-content: left;
    width: 80%;
    height: 100%;
    padding-left: 50px;
    background-color: white;
    border-radius: 40px 0 0 40px;
}

.bo_menu {
    flex-direction: column;
    width: 20%;
    background-color: #ececec;
    border-radius: 40px 0 0 40px;
}

.bo_menu a {
    text-align: center;
}

.bo_menu img {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
}

.bo_m_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 300ms;
}

.bo_m_btn i {
    font-size: 3rem;
    margin: 0;
}

.bo_m_btn p {
    margin: 0;
}

.bo_m_btn a {
    text-decoration: none;
    color: black;
}

.bo_m_btn:hover,
.bo_m_btn a:hover {
    background-color: #dcdcdc;
    color: #481a71;
}

.bo_Container {
    overflow: auto;
}

.bo_titles {
    width: 300px;
    height: auto;
    text-align: left;
    margin: 70px 0 10px;
}

.bo_titles h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.bo_options {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    margin-left: 5px;
    height: 30px;
}

.bo_options p {
    margin: 0;
    margin-right: 20px;
}

.bo_options i {
    margin-right: 5px;
}

.bo_options p:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

.bo_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    background-color: #481a71;
    color: white;
}

.bo_log_off {
    margin-top: 50px;
}

.bo_fields {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.fieldSizing {
    width: 400px;
    height: 20px;
    padding: 10px;
    border: 1px dashed grey;
}

.bo_submit {
    display: flex;
    align-items: center;
}

.bo_date {
    margin-left: 20px;
    font-size: 0.8rem;
    color: grey;
}


/*Post manager*/

.bo_postManager {
    display: flex;
    flex-direction: column;
}

.bo_editor {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.bo_reader p,
.bo_trash p {
    margin: 5px 0;
}

.bo_reader h3,
.bo_trash h3 {
    text-decoration: underline;
    cursor: pointer;
}

.bo_postContent {
    width: 80%;
}

.bo_postInfos {
    display: flex;
    font-style: italic;
    font-size: 0.8rem;
}

.bo_postInfos p {
    margin-right: 20px;
}

.bo_postOptions {
    display: flex;
    color: grey;
    cursor: pointer;
}

.bo_postOptions p {
    margin-right: 20px;
}

.bo_postOptions p:hover {
    text-decoration: underline;
}


/*Common*/

.dispNone {
    display: none;
}

.dispFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Scroll bar*/

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: white;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}